@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

body {
	font-family: 'Source Sans Pro';
}

.welcome-img {
	min-height: 20vh;
}

.jumbo-img-container {
	min-height: 20vh;
}

.card-img-top.headshot {
	padding: 1em;
}

.card-img-container {
	max-width: 20em;
}

.row {
	margin: 0;
}

@media (max-width: 768px) {
	.card {
		border: 0;
	}
}