@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

body {
	font-family: 'Source Sans Pro';
	margin: 0;
}

.jumbotron {
	background: url("../campus_!overview_fall.jpg") no-repeat center center;
	background-size: cover;
	min-height: 40vh;
}

.card-img-top.headshot {
	padding: 1em;
}

.card-img-container {
	max-width: 20em;
}

.row {
	margin: 0;
}

@media (max-width: 768px) {
	.card {
		border: 0;
	}
}